<!-- -*- mode: XML -*- -->

<launch>
    <arg name="sf_version"/>

    <rosparam file="$(find sf_dynamixel)/config/$(arg sf_version).yaml" command="load"/>
    <rosparam command="load" ns="/sf_controller/head" file="$(find sf_dynamixel)/config/head_joint_configurations.yaml"/>
    <rosparam command="load" ns="/sf_controller/tray" file="$(find sf_dynamixel)/config/tray_joint_configurations.yaml"/>


    <include file="$(find sf_dynamixel)/launch/manager.launch">
    <include file="$(find sf_dynamixel)/launch/spawn.launch">
</launch>

