<launch>
	<arg name="gui" default="True" />
	<arg name="version" default="sf1-1" />
	<arg name="sunflower_ns" value="/sunflower1_1" />
	<arg name="person_ns" value="/person" />

	<include file="$(find sf_simulation)/launch/sim_common.launch">
		<arg name="sunflower_ns" value="$(arg sunflower_ns)" />
		<arg name="version" value="sf1-1" />
	</include>

	<include file="$(find sf_gazebo)/launch/start.launch">
		<arg name="gui" value="$(arg gui)"></arg>
	</include>

<!-- 	<include file="$(find person_sim)/launch/start.launch" ns="$(arg person_ns)"> -->
<!-- 		<arg name="ns" value="$(arg person_ns)" /> -->
<!-- 	</include> -->

	<group ns="$(arg sunflower_ns)">
		<!-- Spawn a robot into Gazebo -->
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
			args="-param robot_description -urdf -model sf1_1" />

		<rosparam file="$(find sf_simulation)/config/jointParams.yaml"
			command="load" />

		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner"
			respawn="false" output="screen"
			args="tray_joint_position_controller neck_lower_joint_position_controller neck_upper_joint_position_controller head_pan_joint_position_controller head_tilt_joint_position_controller joint_state_controller" />
	</group>
</launch>
