<!-- -*- mode: XML -*- -->

<launch>
	<arg name="ns" default="" />
	<arg name="version" value="sf1-1" />

	<include file="$(find sf_robot_desc)/launch/tf.launch">
		<arg name="sf_version" value="$(arg version)" />
		<arg name="ns" value="$(arg ns)" />
	</include>
	<include file="$(find sf_navigation)/launch/start.launch">
		<arg name="ns" value="$(arg ns)" />
	</include>
</launch>
