<!-- -*- mode: XML -*- -->

<launch>
	<arg name="sfNS" value="/sunflower1_1" />
	<arg name="pNS" value="/person" />

	<param name="/use_sim_time" value="true" />
	<include file="$(find sf_environments)/launch/uh-rh.launch" />
	<include file="$(find sf_simulation)/launch/sf1-1_sim.launch"
		ns="$(arg sfNS)">
		<arg name="ns" value="$(arg sfNS)" />
	</include>
	<include file="$(find person_sim)/launch/start.launch" ns="$(arg pNS)">
		<arg name="ns" value="$(arg pNS)" />
	</include>
	<node pkg="rviz" type="rviz" name="rviz"
		args="-d $(find sf_simulation)/config/webots.rviz" />
</launch>
