<launch>
	<arg name="ns" default="" />
	<!-- Run AMCL -->
	<include file="$(find sf_navigation)/launch/amcl.launch">
		<arg name="ns" value="$(arg ns)" />
	</include>

	<!-- move_base node -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find sf_navigation)/config/navigation.yaml" command="load" />
		<rosparam file="$(find sf_navigation)/config/local_planner.yaml" command="load" />

		<rosparam file="$(find sf_navigation)/config/common_costmap.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find sf_navigation)/config/local_costmap.yaml" command="load" ns="local_costmap" />

		<rosparam file="$(find sf_navigation)/config/common_costmap.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find sf_navigation)/config/global_costmap.yaml" command="load" ns="global_costmap" />

		<!-- Remappings to support namespaces -->
		<remap from="map" to="/map" />
		<param name="global_costmap/global_frame" value="/map" />
		<remap from="static_map" to="/static_map" />
	</node>
</launch>