<launch>
	<arg name="ns" default="" />
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<remap from="scan" to="scan_front" />
		<remap from="map" to="/map" />
		<remap from="static_map" to="/static_map" />
      	<rosparam file="$(find sf_navigation)/config/amcl.yaml" command="load"/>
		<param name="odom_frame_id" value="$(arg ns)/odom" />
		<param name="base_frame_id" value="$(arg ns)/base_link" />
	</node>
</launch>