<launch>
	<arg name="robot_name" default="sunflower1_1" />
	<arg name="robot_ns" default="/$(arg robot_name)" />
	<arg name="person_name" default="person" />
	<arg name="person_ns" default="/$(arg person_name)" />
	<arg name="gui" default="True" />

	<include file="$(find sf_simulation)/launch/sim_common.launch">
		<arg name="robot_ns" value="$(arg robot_ns)" />
		<arg name="robot_name" value="$(arg robot_name)" />
	</include>

	<include file="$(find sf_gazebo)/launch/start.launch">
		<arg name="gui" value="$(arg gui)"></arg>
	</include>

<!-- 	<include file="$(find uh_simulation)/launch/start_person_sim.launch" ns="$(arg person_ns)"> -->
<!-- 		<arg name="ns" value="$(arg person_ns)" /> -->
<!-- 	</include> -->

	<group ns="$(arg robot_ns)">
		<!-- Spawn a robot into Gazebo -->
		<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
			args="-param robot_description -urdf -model sf1_1" />

		<rosparam file="$(find sf_simulation)/config/jointParams.yaml"
			command="load" />

		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner"
			respawn="false" output="screen"
			args="tray_joint_position_controller neck_lower_joint_position_controller neck_upper_joint_position_controller head_pan_joint_position_controller head_tilt_joint_position_controller joint_state_controller" />
	</group>
</launch>
