<!-- -*- mode: XML -*- -->
<launch>
	<arg name="robot_ns" />
	<arg name="robot_name" />
	<arg name="global_frame" default="/map" />
	<arg name="static_map" default="/static_map" />
	<arg name="rviz_config" default="$(find sf_simulation)/config/simulation.rviz" />	
	
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" />

	<include file="$(find uh_environments)/launch/robot_house_map.launch">
		<arg name="frame_id" value="$(arg global_frame)" />
	</include>

	<group ns="$(arg robot_ns)">
		<remap from="map" to="$(arg global_frame)" />
		<remap from="static_map" to="$(arg static_map)" />
		<param name="tf_prefix" value="$(arg robot_ns)" />

		<include file="$(find sf_robot_description)/launch/tf.launch">
			<arg name="robot_name" value="$(arg robot_name)" />
		</include>

		<include file="$(find sf_navigation)/launch/start.launch">
			<arg name="global_frame" value="$(arg global_frame)" />
			<arg name="odom" value="$(arg robot_ns)/odom" />
			<arg name="base_link" value="$(arg robot_ns)/base_link" />
		</include>
	</group>
</launch>
