<?xml version="1.0"?>
<robot name="sf11"
    xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
    xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
    xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="base_link"/>

    <!-- Neck -->
    <include filename="$(find sf_dynamixel)/defs/dynamixel_ax12.xacro" />
    <include filename="$(find sf_dynamixel)/defs/fp04_02.xacro" />
    <xacro:macro name="neck" params="name parent *origin">
        <xacro:ax12 
                name="neck_lower" 
                parent="${parent}" 
                minPosition="-1.5705" 
                maxPosition="1.5707" 
                maxVelocity="1">
        </xacro:ax12>
        <xacro:fp04_02 
                name="neck_lower_hinge" 
                parent="neck_lower">
        </xacro:fp04_02>
    </xacro:macro>
    <xacro:neck name="neck" parent="base">
        <origin rpy="0 1.5707 0" xyz="0 0 0.79" />
    </xacro:neck>

</robot>
