<?xml version="1.0"?>
<robot name="sf11"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:xacro="http://ros.org/wiki/xacro">

    <include filename="$(find p2os_urdf)/defs/pioneer3dx.xacro"/>
    <include filename="$(find pr2_description)/urdf/sensors/hokuyo_lx30_laser.urdf.xacro" />

    <xacro:hokuyo_lx30_laser_v0 name="base_laser_front" parent="base" ros_topic="scan_front" update_rate="20" min_angle="-2.2689" max_angle="2.2689" >
      <origin xyz="0.13 0.0 0.045" rpy="0 0 0" />
    </xacro:hokuyo_lx30_laser_v0>

</robot>
