<!-- -*- mode: XML -*- -->

<launch>
	<arg name="ns" value="/sunflower1_1" />
	<arg name="version" value="sf1-1" />


	<group ns="$(arg ns)">
		<remap from="map" to="/map" />
		<remap from="static_map" to="/static_map" />
		<include file="$(find sf_environments)/launch/uh-rh.launch" />
		<include file="$(find sf_lights)/launch/start.launch" />
		<include file="$(find sf_dynamixel)/launch/start.launch">
			<arg name="sf_version" value="$(arg version)" />
		</include>
		
		<include file="$(find sf_base)/launch/start.launch" />
		<include file="$(find sf_controller)/launch/start.launch" />
		
		<include file="$(find sf_robot)/launch/tf.launch">
			<arg name="sf_version" value="$(arg version)" />
		</include>
		
		<include file="$(find sf_navigation)/launch/start.launch">
			<arg name="ns" value="$(arg ns)" />
		</include>
	</group>
</launch>
