<!-- -*- mode: XML -*- -->

<launch>
	<arg name="robotName" default="sunflower1_1" />
	<arg name="robot_ns" default="/$(arg robotName)" />

	<group ns="$(arg robot_ns)">
		<remap from="map" to="/map" />
		<remap from="static_map" to="/static_map" />
		<include file="$(find uh_environments)/launch/robot_house_map.launch" />
		<include file="$(find sf_lights)/launch/start.launch" />

		<include file="$(find sf_robot)/launch/start_base.launch" />
		<include file="$(find sf_robot)/launch/start_hokuyo.launch" />

		<include file="$(find sf_controller)/launch/start_controller.launch" />
		<include file="$(find sf_controller)/launch/start_dynamixels.launch" />

		<include file="$(find sf_robot_description)/launch/tf.launch">
			<arg name="robotName" value="$(arg robotName)" />
			<arg name="ns" value="$(arg robot_ns)" />
		</include>

		<include file="$(find sf_navigation)/launch/start.launch">
			<arg name="ns" value="$(arg robot_ns)" />
		</include>
	</group>
</launch>
