SUBSYSTEM=="tty", SUBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="067b", ENV{ID_MODEL_ID}=="2303", SYMLINK+="p3dxBase"
SUBSYSTEM=="tty", SYBSYSTEMS=="usb", ENV{ID_VENDOR_ID}=="0403", ENV{ID_MODEL_ID}="6001", SYMLINK+="dynamixel"
